# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# historico 
.history/

# Arquivos e diretórios específicos do Dart
.dart_tool/
.packages
.pub/
/build/

# Arquivos de dependências gerados pelo pub
.dart_tool/package_config.json
.pubspec.lock
# Arquivos e diretórios específicos do .NET
obj/
bin/
*.exe
*.dll
*.pdb
*.userprefs

# Arquivos de configuração do Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user

# Pacotes NuGet
packages/

# Cache de ferramentas do .NET
.nuget/

# Arquivos de compilação gerados
*.cache
*.log
*.vspscc
*.vssscc

.fake