
@media (prefers-color-scheme: white) {

}

body {
  background: #fff; 
  min-height: 100vh;
  margin: 10px;
  font-family: Arial, sans-serif;
}

/* CSS MENU - INÍCIO */
/* Estilos para a barra de navegação */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px 10px 10px 10px;
  min-width: 300px;
}

/* Estilos para os itens do menu */
nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}

nav li {
  /* Defina as propriedades visuais dos botões */
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

nav li a {
  text-decoration: none;
  color: inherit;
}

/* Estilos para hover (quando o cursor está sobre o botão) */
nav li:hover {
  background-color: #0056b3;
}
/* CSS MENU - FIM */

/* CSS RESULTADO CATEGORIA - INÍCIO */
/* Estilos para a lista de categorias */
.category-list {
  list-style: none; 
  flex-wrap: wrap;
  padding: 10px;
  max-width: 400px;
}

/* Estilos para cada item da categoria */
.category-item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 5px;
}
/* CSS RESULTADO CATEGORIA - FIM */